* {
    font-family: "Rubik", sans-serif;
    margin: 0;
    padding: 0;
}

.custom-dialog-container cdk-overlay-pane {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
    background-color: white;
  }

  .cp-snackbar {
    background-color: black;
    color: white;
    margin: 0 !important;
    position: absolute;
    right: 25px;
    top: 60px;
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }